<div class="container">
  <div class="text-center">
  <h1 class="page-header"><%= @event.name %> <small>by <%= @event.company.name %></small></h1>

  <%= image_tag 'kekka.png' %>
  </div>



  <h2>1位 Kaleidoscope by Kaleido</h2>

  <div>
    <ul>
      <li>GitHub URL: <a href="https://github.com/pocke/kaleidoscope">https://github.com/pocke/kaleidoscope</a></li>
    </ul>

      <script async class="speakerdeck-embed" data-id="0ce3c9937774478ea54e97a9224c9130" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>
  </div>

  <hr />


  <h3>2位 ほげほげ by ふがふが</h3>

  <div>
    <ul>
      <li>GitHub URL: <a href="https://github.com/pocke/kaleidoscope">https://github.com/pocke/kaleidoscope</a></li>
    </ul>

      <script async class="speakerdeck-embed" data-id="0ce3c9937774478ea54e97a9224c9130" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>
  </div>

  <hr />
</div>


