.event-list{
    margin: 20px;
}

.event-detail div{
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.event-detail div h4 {
    font-weight: normal;
    padding: 0 10px;
    margin-bottom: 10px;
    color: #344a5e;
}
.event-detail div p {
    margin-left: 20px;
}

.putin-button {
    margin-left: auto;
    width: 240px;
}
.center-img{
    text-align: center;
}

.left-img{
    text-align: left;
    position:relative;
    left : 20px;
    top: 15px;
}