.event-list{
    margin: 20px;
}

.event-detail div{
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.event-detail div h4 {
    font-weight: normal;
    padding: 0 10px;
    margin-bottom: 10px;
    color: #344a5e;
}
.event-detail div p {
    margin-left: 20px;
}

.putin-button {
    margin-left: auto;
    width: 240px;
}
.center-img{
    text-align: center;
}

.left-img {
    text-align: left;
    position: relative;
    left: 20px;
    top: 15px;
}

#jap {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-size: 80px;
    color: red;
    font-family: arial black;
    background-color: black;
}

.timer {
    background-color: black;
    font-size: 150px;
    color: red;
    font-family: 'Wallpoet', monospace;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#submit-modal {
    padding: 10px;
    background-color: #fff;
    border: blue solid 1px;
    width: 500px;
    display: none;
}

#submit-modal h3{
    border-bottom: gray solid 1px;
}

.modal-button {
    margin-right: 10px;
}

.large-button {
    width: 300px;
    height: auto;
}

.comment-list {
    height: 300px;
    overflow-y: scroll;
    margin: 20px;
}

.column {
    margin: 30px;
}

.descritpion {
    margin-left: 20px;
}

.member-list li {
    margin-top: 10px;
}

.input-column {
    margin: 20px;
}

.modal-form {
    margin: 30px;
}

input.input-modal {
    width: auto;
}
